# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Env file
.env

# Pywikibot stuff
pywikibot.lwp
throttle.ctrl
apicache-py3/
user-password.py
pywikibot-*.lwp
