aiohttp==3.6.2
async-timeout==3.0.1
asyncssh==2.4.2
attrs==20.1.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.2
chardet==3.0.4
cryptography==3.1
cssselect2==0.3.0
defusedxml==0.6.0
discord.py==1.4.1
flatlib==0.2.1
geographiclib==1.50
geopy==2.0.0
idna==2.10
multidict==4.7.6
numpy==1.19.2
Pillow==7.2.0
pycparser==2.20
pyswisseph==2.0.0.post2
python-chess==0.31.4
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
timezonefinder==4.4.1
tinycss2==1.0.2
webencodings==0.5.1
yarl==1.5.1
