aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.1.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.2
chardet==3.0.4
cssselect2==0.3.0
defusedxml==0.6.0
discord.py==1.4.1
idna==2.10
multidict==4.7.6
Pillow==7.2.0
pycparser==2.20
python-chess==0.31.4
python-dotenv==0.14.0
tinycss2==1.0.2
webencodings==0.5.1
yarl==1.5.1
